<h1>Tasks#new</h1>


<%= form_for [@list, @task] do |f|%>
  <div>
    <%= f.label :priority %>
    <%= f.number_field :priority %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  <%= f.submit %>
<% end %>
