<h1>New Task</h1>


<%= form_for [@list, @task], local: true, class: "ui form" do |f|%>
  
    <%= f.label :priority %>
    <%= f.number_field :priority, required: true  %>
    <br/>
    <%= f.label :name %>
    <%= f.text_field :name , required: true %>
    <br/>
    <%= f.label :body %>
    <%= f.text_area :body, required: true  %>
    <br/>
  <%= f.submit nil, class: "ui button blue" %>
<% end %>
